@media (max-width:390px )
{
    .heading{
        width: 40%;
    }
    .section{
        width: 35%;
    }
    .songItemContainer{
        margin: 10px 10px;
    }
    .footer{
        position: absolute;
        bottom: 0px;
    }
}